requests
protobuf==4.22.3
google
setuptools
py-multicodec
pandas
ipfsclient

# for tests and linting
nox
mock
pytest
flake8
flake8-docstrings
flake8-annotations
flake8-import-order
Faker

# for documentation / mkdocs
mkdocs
mkdocstrings
mkdocstrings-python
